@import url('/nullstyle.css');


body{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #131313;
}

.container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}


.header {
    margin-bottom: 97px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__list {
    display: flex;
    margin-right: 71px;
    transition: all 0.5s
}

.menu__item {
    line-height: 17px;
    text-transform: uppercase;
}
.menu__link {
    color: #131313;
    padding: 43px 20px;
}
.menu__link:hover{
    background-color: #131313;
    color: #FFFFFF;
    transition: .7s;
    cursor: pointer;
}
.menu__item +.menu__item {
    margin-left: 10px ;
}

.main{
    margin-bottom: 150px;
}

.main__inner{
    display: flex;
    align-items: flex-end;
}
.main__descr{
    display: flex;
    flex-direction: column;
    max-width: 630px;
}
.main__title{
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    margin-bottom: 5px;
}
.main__subtitle{
    font-size: 32px;
    line-height: 39px;
    color: #6F6F6F;
    margin-bottom: 60px;
    max-width: 420px;
}
.main__paragraph{
    margin-bottom: 20px;
    line-height: 120%;
    max-width: 420px;
}
.main__link{
    margin-top: 60px;
}
.btn{
    background-color: #131313;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    max-width: 420px;
    padding: 28px 81px;
    padding-right:calc(81px - 1.1em);
}
.main__slider{
    display: flex;
    flex-direction: column;
    margin-left: 31px;
}
.main-slider-img{
    margin-bottom: 25px;
}
.main-slider__list{
    display: flex;
    max-width: 630px;
    justify-content: space-around;
}
.main-slider__item{
    font-weight: 700;
    line-height: 17px;
    text-transform: uppercase;
    text-align: center;
}
    
.main-slider__item span{
    display: block;
    margin-top: 5px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-transform: lowercase;
    max-width: 160px;
}

.description{
    margin-bottom: 150px;
}
.description__inner{
    display: flex;
    max-height: 1060px;
}
.description__img{
    max-width: 570px;
    margin-right: 60px;
}
.description__text{
    display: flex;
    flex-direction: column;
}
.description__article{
    margin-bottom: 50px;
    max-width: 450px;
}
.description__article-wide{
    max-width: 490px;
}
.description__article h3{
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
}
.description__article p{
    line-height: 120%;
}
.characteristics{
    margin-bottom: 150px;
}
.characteristics__inner{
    display: flex;
}
.characteristics__text{
    max-width: 570px;
    display: flex;
    flex-direction: column;
    margin-right: 60px;
}
.characteristics__main-title{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.charecteristic__item + .charecteristic__item{
    margin-top: 30px;
}
.characteristic__title{
    font-weight: 700;
    line-height: 17px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #131313;
    margin-bottom: 10px;
}
.characteristic__text{
    display: flex;
    margin-bottom: 5px;
}
.characteristic__name{
    flex-basis: 285px;
    padding-right: 25px;

}
.characteristic__description{
    flex-basis: 285px;
}



.characteristics__img{
    align-self: center;
        overflow: clip;
}

.demontration{
    margin-bottom: 50px;
}
.demontration__inner{
    display: flex;
}
.demonstration__dots-list{
    flex-basis: 50px;
    padding-right: 10px;
}
.demonstration__dots-item{
    height: 25px;
    width: 5px;
    margin-bottom: 5px;
    background-color: #131313;
    border-radius: 7px;
    transition: all 0.35s
}
.demonstration__dots-item:hover{
    background-color: orangered;
    width: 8px;
    height: 35px;
}
.demonstration__img{
    flex-basis: 1150px;
}





.footer{
        height: 70px;
        background-color: #131313;
}